@model Newtonsoft.Json.Linq.JObject
@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Language Features</title>
</head>
<body>

    
    @*<ul>*@
    @*    @foreach (string s in Model)*@
    @*    {*@
    @*        <li>@s</li>*@
    @*    }*@
    @*</ul>*@
   
@Model

@*@foreach (var item in Model)*@
@*{*@
@*    foreach (var key in item.Value)*@
@*    {*@
@*        key["name"];*@
@*    }*@
@*    *@
@*}*@
</body>
</html>
